.is-mobile {
  display: none;
  opacity: 0;
  visibility: hidden;
}

@media #{$sm} {

  .menu {

    &_wrap {
      padding: 0;
    }

    .hamburger-wrap {
      position: fixed;
      top: 0;
      left: 0;
      height: 80px;
    }

    &.is-open {
      height: 100vh;
    }

    &-list {
      flex-direction: column;
      align-items: center;
      align-content: center;
      width: 100%;

      &_item {
        margin-right: 0;
        margin-bottom: 40px;
      }

      &_link {
        font-size: 28px;
        line-height: 28px;
      }
    }
  }

  .header {
    display: none;
  }

  .features {

    &_wrap {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 30px;
      z-index: 10;
      position: relative;
    }

    &_list {
      flex-direction: column;
    }
  }

  .feature {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &_icon {
      min-height: 90px;
      transform: scale(.75);
      margin-bottom: 0;
    }

    &_name {
      margin-bottom: 0;
    }

    &_info {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }

  .gift {
    padding-top: 50px;
    padding-bottom: 30px;

    &-bg {
      background-size: 486px auto;
      top: 560px;
      left: -144px;
    }

    &_wrap {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 30px;
      z-index: 10;
      position: relative;
    }

    &_header {
      text-align: center;
      padding-bottom: 40px;

      .not-mobile {
        display: none;
        visibility: hidden;
        opacity: 0;
      }

      .is-mobile {
        display: block;
        visibility: visible;
        opacity: 1;
      }

      h2 {
        font-size: 36px;
        line-height: 36px;

        &.is-mobile {
          display: inline-block;
        }

        &:before {
          top: -3px;
          left: 8px;
          transform: scale(.75);
        }
      }
    }

    &_content {
      padding-top: 408px;
      padding-left: 0;
    }

    &_actions {
      margin-top: 30px;
      padding-left: 0;
      display: flex;
      justify-content: center;

      .button {
        width: 100%;
        max-width: 300px;
      }
    }
  }

  .gift-list {

    li {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 30px;
      padding-left: 60px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        width: 42px;
        height: 42px;
      }
    }
  }


  .gallery {
    padding-top: 50px;
    padding-bottom: 30px;

    &-bg {
      opacity: .85;
      transform: scale(.45);
      top: -305px;
      bottom: auto;
      z-index: 0;
    }

    &_wrap {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 30px;
      z-index: 10;
      position: relative;
    }

    &_header {
      text-align: center;

      h2 {
        font-size: 36px;
        line-height: 36px;

        &:before {
          top: 0;
        }
      }

      p {
        display: none;
        visibility: hidden;
      }
    }

    &_tabs {
      margin-top: 24px;
    }

    &-tabs {

      &_item {
        margin-right: 14px;

        &:last-child {
          margin-right: 0;
        }
      }

      &_link {
        font-size: 12px;
        line-height: 14px;

        &:after {
          height: 1px;
        }
      }
    }

    &_panels {
      margin-top: 24px;

      .zoom-gallery {
        justify-content: center;

        a {
          width: 150px;
          height: 100px;
          margin-right: 6px;
          margin-bottom: 6px;
        }
      }
    }
  }

  .review {
    padding-top: 50px;
    padding-bottom: 30px;

    &-bg {
      opacity: .85;
      transform: scale(.45);
      top: -305px;
      bottom: auto;
      z-index: 0;
    }

    &_wrap {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 30px;
      z-index: 10;
      position: relative;
    }

    &_headline {
      padding-bottom: 30px;

      h2 {
        margin: 0;
        padding: 0;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
      }

      p {
        display: none;
        visibility: hidden;
      }
    }

    &-links {
      transform: scale(.7);
    }

    &_comments {
      padding-top: 30px;
      margin-top: 0;
    }

    &-comment {
      margin-bottom: 25px;

      &_content {
        font-size: 14px;
        line-height: 20px;

        p {
          margin-top: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;

    &_header {

      h2 {
        font-size: 36px;
        line-height: 36px;

        &:before {
          top: 0;
        }
      }

      p {
        display: none;
        visibility: hidden;
      }
    }

    &_contacts {

      &_box {
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        justify-content: center;

        .button {
          display: none;
          visibility: hidden;
        }
      }
    }

    &-tel {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }
}
