<!-- begin .gallery -->
<div class="gallery" id="gallery">
  <!-- begin .gallery_wrap -->
  <div class="gallery_wrap">
    <!-- begin .gallery_header -->
    <div class="gallery_header">
      <h2>ГАЛЕРЕЯ РАБОТ</h2>
    </div>
    <!-- end .gallery_header -->
    <!-- begin .gallery_content -->
    <div class="gallery_content" id="gallery_content">

      <!-- begin .gallery_tabs -->
      <div class="gallery_tabs">
        <ul class="gallery-tabs">
          <li class="gallery-tabs_item" id="select"><a href="assets/images/otoplenie/#otoplenie" class="gallery-tabs_link">отопление</a></li>
          <li class="gallery-tabs_item"><a href="assets/images/otoplenie/#vodosnabzhenie" class="gallery-tabs_link">водоснабжение</a></li>
          <li class="gallery-tabs_item"><a href="assets/images/otoplenie/#ehlektrosnabzhenie" class="gallery-tabs_link">электроснабжение</a></li>
        </ul>
      </div>
      <!-- end .gallery_tabs -->

      <!-- begin .gallery_panels -->
      <div class="gallery_panels panel-container">
        <!-- begin #otoplenie -->
        <div id="otoplenie">
          <!-- begin .gallery_panels-content -->
          <div class="gallery_panels-content">
            <div class="zoom-gallery">
              <a href="assets/images/otoplenie/20160324_114143.jpg"><img src="assets/images/otoplenie/20160324_114143.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/20160324_114146.jpg"><img src="assets/images/otoplenie/20160324_114146.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/20160324_114154.jpg"><img src="assets/images/otoplenie/20160324_114154.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/20160324_114535.jpg"><img src="assets/images/otoplenie/20160324_114535.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/20160324_114732.jpg"><img src="assets/images/otoplenie/20160324_114732.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/20160324_114741.jpg"><img src="assets/images/otoplenie/20160324_114741.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_0011.jpg"><img src="assets/images/otoplenie/IMG_0011.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_0014.jpg"><img src="assets/images/otoplenie/IMG_0014.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_0016.jpg"><img src="assets/images/otoplenie/IMG_0016.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_0017.jpg"><img src="assets/images/otoplenie/IMG_0017.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_0018.jpg"><img src="assets/images/otoplenie/IMG_0018.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_0072.jpg"><img src="assets/images/otoplenie/IMG_0072.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_1106.jpg"><img src="assets/images/otoplenie/IMG_1106.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_2332.jpg"><img src="assets/images/otoplenie/IMG_2332.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_2333.jpg"><img src="assets/images/otoplenie/IMG_2333.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_2335.jpg"><img src="assets/images/otoplenie/IMG_2335.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_2339.jpg"><img src="assets/images/otoplenie/IMG_2339.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_2340.jpg"><img src="assets/images/otoplenie/IMG_2340.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_2361.jpg"><img src="assets/images/otoplenie/IMG_2361.jpg" alt="" /></a>
              <a href="assets/images/otoplenie/IMG_2905.jpg"><img src="assets/images/otoplenie/IMG_2905.jpg" alt="" /></a>
            </div>
          </div>
          <!-- end .gallery_panels-content -->
        </div>
        <!-- end #otoplenie -->
        <!-- begin #vodosnabzhenie -->
        <div id="vodosnabzhenie">
          <!-- begin .gallery_panels-content -->
          <div class="gallery_panels-content">
            <div class="zoom-gallery">
              <a href=""><img src="" alt=""></a>
            </div>
          </div>
          <!-- end .gallery_panels-content -->
        </div>
        <!-- end #vodosnabzhenie -->
        <!-- begin #ehlektrosnabzhenie -->
        <div id="ehlektrosnabzhenie">
          <!-- begin .gallery_panels-content -->
          <div class="gallery_panels-content">
            электроснабжение
          </div>
          <!-- end .gallery_panels-content -->
        </div>
        <!-- end #ehlektrosnabzhenie -->
      </div>
      <!-- end .gallery_panels -->

    </div>
    <!-- end .gallery_content -->
  </div>
  <!-- end .gallery_wrap -->
</div>
<!-- end .gallery -->
