<!-- begin .gallery -->
<div class="gallery" id="gallery">
  <!-- begin .gallery_wrap -->
  <div class="gallery_wrap">
    <!-- begin .gallery_header -->
    <div class="gallery_header">
      <h2>ГАЛЕРЕЯ РАБОТ</h2>
    </div>
    <!-- end .gallery_header -->
    <!-- begin .gallery_content -->
    <div class="gallery_content" id="gallery_content">

      <!-- begin .gallery_tabs -->
      <div class="gallery_tabs">
        <ul class="gallery-tabs">
          <li class="gallery-tabs_item" id="select"><a href="#otoplenie" class="gallery-tabs_link">отопление</a></li>
          <li class="gallery-tabs_item"><a href="#vodosnabzhenie" class="gallery-tabs_link">водоснабжение</a></li>
          <li class="gallery-tabs_item"><a href="#ehlektrosnabzhenie" class="gallery-tabs_link">электроснабжение</a></li>
        </ul>
      </div>
      <!-- end .gallery_tabs -->

      <!-- begin .gallery_panels -->
      <div class="gallery_panels panel-container">
        <!-- begin #otoplenie -->
        <div id="otoplenie">
          <!-- begin .gallery_panels-content -->
          <div class="gallery_panels-content">
            <div class="zoom-gallery">
              <a href="http://farm4.staticflickr.com/3763/9204547649_0472680945_o.jpg" data-source="http://500px.com/photo/32736307" title="Into The Blue" style="width:193px;height:125px;">
            		<img src="http://farm4.staticflickr.com/3763/9204547649_7de96ee188_t.jpg" width="193" height="125">
            	</a>
            	<a href="http://farm3.staticflickr.com/2856/9207329420_7f2a668b06_o.jpg" data-source="http://500px.com/photo/32554131" title="Light Sabre" style="width:82px;height:125px;">
            		<img src="http://farm3.staticflickr.com/2856/9207329420_e485948b01_t.jpg" width="82px" height="125">
            	</a>
            </div>
          </div>
          <!-- end .gallery_panels-content -->
        </div>
        <!-- end #otoplenie -->
        <!-- begin #vodosnabzhenie -->
        <div id="vodosnabzhenie">
          <!-- begin .gallery_panels-content -->
          <div class="gallery_panels-content">
            водоснабжение
          </div>
          <!-- end .gallery_panels-content -->
        </div>
        <!-- end #vodosnabzhenie -->
        <!-- begin #ehlektrosnabzhenie -->
        <div id="ehlektrosnabzhenie">
          <!-- begin .gallery_panels-content -->
          <div class="gallery_panels-content">
            электроснабжение
          </div>
          <!-- end .gallery_panels-content -->
        </div>
        <!-- end #ehlektrosnabzhenie -->
      </div>
      <!-- end .gallery_panels -->

    </div>
    <!-- end .gallery_content -->
  </div>
  <!-- end .gallery_wrap -->
</div>
<!-- end .gallery -->
