<!-- begin .gallery -->
<div class="gallery" id="gallery">
  <!-- begin .gallery_wrap -->
  <div class="gallery_wrap">
    <!-- begin .gallery_header -->
    <div class="gallery_header">
      <h2>ГАЛЕРЕЯ РАБОТ</h2>
    </div>
    <!-- end .gallery_header -->
    <!-- begin .gallery_content -->
    <div class="gallery_content">

      <!-- begin .gallery_tabs -->
      <div class="gallery_tabs">
        <ul class="gallery-tabs">
          <li class="gallery-tabs_item" id="select"><a href="#otoplenie" class="gallery-tabs_link">отопление</a></li>
          <li class="gallery-tabs_item"><a href="#vodosnabzhenie" class="gallery-tabs_link">водоснабжение</a></li>
          <li class="gallery-tabs_item"><a href="#ehlektrosnabzhenie" class="gallery-tabs_link">электроснабжение</a></li>
        </ul>
      </div>
      <!-- end .gallery_tabs -->

    </div>
    <!-- end .gallery_content -->
  </div>
  <!-- end .gallery_wrap -->
</div>
<!-- end .gallery -->
