.gallery {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;

  &-bg {
    position: absolute;
    right: width('assets/images/bg-grid.png', -2);
    top: -225px;
    z-index: 10;
    display: block;
    width: width('assets/images/bg-grid.png');
    height: height('assets/images/bg-grid.png');
    background-repeat: no-repeat;
  }

  &_wrap {
    max-width: 1280px;
    margin: 0 auto;
  }

  &_header {
    text-align: center;

    h2 {
      font-weight: 300;
      font-size: 48px;
      line-height: 65px;
      color: #ffffff;
      text-align: center;
      margin: 0;
      padding: 0;
      display: inline-block;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.797 41.352' width='22.797' height='41.352'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23ffba00;stroke-linecap:round;stroke-width:3px%7D%3C/style%3E%3C/defs%3E%3Cg id='Group_41' data-name='Group 41' transform='translate(-189.379 -244.379)'%3E%3Cpath id='Line_3' data-name='Line 3' class='cls-1' transform='translate(191.5 246.5)' d='M0 0l18.555 18.555'/%3E%3Cpath id='Line_4' data-name='Line 4' class='cls-1' transform='rotate(90 -27.5 237.555)' d='M0 0l18.555 18.555'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        left: -34px;
        top: 11px;
        width: 22.797px;
        height: 41.352px;
      }
    }
  }

  &_tabs {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  &_panels {
    margin-top: 60px;

    a {
      border-bottom: 0;
      text-decoration: none;
    }

    .zoom-gallery {
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;

      a {
        display: block;
        width: 300px;
        height: 200px;
        position: relative;
        border-radius: 5px;
        border: 1px solid #707070;
        margin-right: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;

        &:hover {
          border-color: #FFBA00;
          border-width: 5px;
        }
      }

      img {
        vertical-align: middle;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
}

.gallery-tabs {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'SF Pro Display';

  &_item {
    margin-right: 80px;

    &.is-active .gallery-tabs_link {
      color: #ffffff;

      &:after {
        opacity: 1;
      }
    }

    &:last-child { margin-right: 0; }
  }

  &_link {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    border-bottom: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    text-transform: lowercase;
    transition: all .35s ease;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: #FFBA00;
      bottom: -5px;
      transition: all .35s ease;
      opacity: 0;
    }

    &:hover {
      color: #ffffff;
    }
  }
}
