<!-- begin .gift -->
<div class="gift">
  <!-- begin .gift_wrap -->
  <div class="gift_wrap">
    <!-- begin .gift_header -->
    <div class="gift_header">
      <img src="assets/images/gift.png" alt="Проектирование в подарок при заключении договора на поставку и монтаж оборудования на площадь от 100 квадратных метров">
      <h2>ПРОЕКТИРОВАНИЕ В&nbsp;ПОДАРОК!</h2>
      <p>при заключении договора на поставку и монтаж оборудования на площадь от 100 квадратных метров</p>
    </div>
    <!-- end .gift_header -->
    <!-- begin .gift_content -->
    <div class="gift_content">
      <!-- begin .gift_list -->
      <div class="gift_list">
        <ul class="gift-list">
          <li class="gift-list_item">Вы связываетесь с нами по телефону или через социальные сети.</li>
          <li class="gift-list_item">Мы вместе обозначим задачу и найдем лучшие пути ее решения.</li>
          <li class="gift-list_item">Договариваемся о сроках, суммах, решаем задачи и достигаем поставленной цели.</li>
        </ul>
      </div>
      <!-- end .gift_list -->
      <!-- begin .gift_actions -->
      <div class="gift_actions">
        <a href="tel:+79266617222" title="Телефонный номер: +7 (926) 661-7222" class="button">позвонить</a>
      </div>
      <!-- end .gift_actions -->
    </div>
    <!-- end .gift_content -->
  </div>
  <!-- end .gift_wrap -->

  <div class="gift-bg" style="background-image: url('assets/images/bg-gift.png');"></div>
</div>
<!-- end .gift -->
