.gift {
  padding-top: 105px;
  padding-bottom: 200px;
  position: relative;

  &-bg {
    position: absolute;
    z-index: 1;
    display: block;
    top: 700px;
    left: -390px;
    width: width('assets/images/bg-gift.png');
    height: height('assets/images/bg-gift.png');
    background-repeat: no-repeat;
  }

  &_wrap {
    max-width: 840px;
    margin: 0 auto;
  }

  &_header {
    text-align: center;
    font-family: 'SF Pro Display';

    img {
      vertical-align: bottom;
    }

    h2 {
      font-weight: 300;
      font-size: 48px;
      line-height: 65px;
      color: #ffffff;
      max-width: 490px;
      text-align: center;
      margin: 50px auto 20px auto;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.797 41.352' width='22.797' height='41.352'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23ffba00;stroke-linecap:round;stroke-width:3px%7D%3C/style%3E%3C/defs%3E%3Cg id='Group_41' data-name='Group 41' transform='translate(-189.379 -244.379)'%3E%3Cpath id='Line_3' data-name='Line 3' class='cls-1' transform='translate(191.5 246.5)' d='M0 0l18.555 18.555'/%3E%3Cpath id='Line_4' data-name='Line 4' class='cls-1' transform='rotate(90 -27.5 237.555)' d='M0 0l18.555 18.555'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        left: -8px;
        top: 11px;
        width: 22.797px;
        height: 41.352px;
      }
    }

    p {
      font-size: 17px;
      color: #818992;
      text-align: center;
      max-width: 480px;
      margin: 0 auto;
    }
  }

  &_content {
    padding-top: 150px;
    padding-left: 400px;
  }

  &_actions {
    padding-left: 90px;
  }
}

.gift-list {
  counter-reset: listcounter;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display';
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;

  li {
    list-style: none;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 35px;
    padding-left: 90px;
    min-height: 60px;
    margin-bottom: 60px;
    max-width: 383px;

    &:before {
      counter-increment: listcounter;
      content: counter(listcounter);
      position: absolute;
      left: 0;
      top: 0;
      border: 3px solid #FFBA00;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
    }
  }
}
