{% include "components/header/menu.html" %}

<header class="header">
  <!-- begin .header_wrap -->
  <div class="header_wrap">
    <!-- begin .header_content -->
    <div class="header_content">
      <!-- begin .ip-info -->
      <div class="ip-info">
        <!-- begin .ip-info_type -->
        <div class="ip-info_type">Индивидуальный предприниматель</div>
        <!-- end .ip-info_type -->
        <!-- begin .ip-info_name -->
        <div class="ip-info_name">
          <span>ТИХОНОВ</span> Виктор Геннадиевич</div>
        <!-- end .ip-info_name -->
      </div>
      <!-- end .ip-info -->
      <h1>ИНЖЕНЕРНЫЕ СИСТЕМЫ <span>для загородных домов</span></h1>
      <p>отопление, водоснабжение, канализация, электроснабжение, современное котельное оборудование, системы «умный дом»</p>
    </div>
    <!-- end .header_content -->
    <!-- begin .header_actions -->
    <div class="header_actions">
      <a href="tel:+79266617222" title="Телефонный номер: +7 (926) 661-7222" class="button">позвонить</a>
    </div>
    <!-- end .header_actions -->
  </div>
  <!-- end .header_wrap -->
  <div class="header-bg" style="background-image: url('assets/images/bg-header.png');"></div>
</header>
