<!-- begin .menu -->
<div class="menu">
  <!-- begin .menu_wrap -->
  <div class="menu_wrap">

    .ham

    <ul class="menu-list">
      <li class="menu-list_item">
        <a href="" class="menu-list_link">галерея</a>
      </li>
      <li class="menu-list_item">
        <a href="" class="menu-list_link">отзывы</a>
      </li>
      <li class="menu-list_item">
        <a href="" class="menu-list_link">контакты</a>
      </li>
    </ul>

  </div>
  <!-- end .menu_wrap -->
</div>
<!-- end .menu -->
