<!-- begin .menu -->
<nav class="menu _menu">
  <!-- begin .menu_wrap -->
  <div class="menu_wrap">

    <!-- begin .hamburger-wrap -->
    <div class="hamburger-wrap _nav-hamburger">
      <!-- begin .hamburger -->
      <div class="hamburger">
        <!-- begin .hamburger_i -->
        <div class="hamburger_i"></div>
        <div class="hamburger_i"></div>
        <div class="hamburger_i"></div>
        <!-- end .hamburger_i -->
      </div>
      <!-- end .hamburger -->
    </div>
    <!-- end .hamburger-wrap -->

    <ul class="menu-list _spy-nav">
      <li class="menu-list_item">
        <a href="#gallery" class="menu-list_link">галерея</a>
      </li>
      <li class="menu-list_item">
        <a href="#review" class="menu-list_link">отзывы</a>
      </li>
      <li class="menu-list_item">
        <a href="#contacts" class="menu-list_link">контакты</a>
      </li>
    </ul>

  </div>
  <!-- end .menu_wrap -->
</nav>
<!-- end .menu -->
